<div class= "jumbotron">
	
	<center>
	<h1> Welcome to my Pizza Shack </h1>



	<img src="https://img0.etsystatic.com/037/0/7376718/il_570xN.648458744_2xn9.jpg">


	<br>
	<%= link_to "Check Out Our Pizzas!", pizzas_path,
		class: "btn btn-default" %>
	</center>
</div>